# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/

# Virtual Environment
my_env/
venv/
env/

# Buildozer
.buildozer/
bin/

# IDE
.vscode/
.idea/
.qodo/
*.swp
*.swo

# OS
.DS_Store
Thums.db

# App specific
*.db
*.zip
AnyLoad.zip
filepaths.xml

# Logs
*.log
